@import "bourbon/bourbon";
@import "normalize";

// media queries
@mixin mq($breakpoint)
{
  @if $breakpoint == mobile
  {
    @media only screen and (min-width: 320px){
      @content;
    }
  }
  @else if $breakpoint == tablet
  {
    @media only screen and (min-width: 480px) {
      @content;
    }
  }
  @else if $breakpoint == netbook
  {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @else if $breakpoint == desktop
  {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}
// base styles
@import "pieces/base";
@import "pieces/classes";
// main pieces
@import "pieces/header";
@import "pieces/footer";
@import "pieces/info";
// page styles
@import "pieces/content";
// page specific
#home {
  blockquote {
    font-family: serif;
    font-size: 1.5em;
    font-style: italic;
  }
}
@import "pieces/about";
@import "pieces/resources";
// wallpapers
@import "pieces/wallpapers";
// ===================================
// plugins
@import "pieces/lightbox";
@import "pieces/buttons";
// buttons
#play_game { @include punch(#4162a8, #fff, 1.125em); }
#tutorial_mtn { @include punch(#7fbf4d, #fff, 0.875em); }