/*
Syntax error: File to import not found or unreadable: pieces/font-awesome.
              Load path: /Users/sumo/Desktop/mindcraft/style
        on line 36 of style.scss

31: }
32: // base styles
33: @import "pieces/base";
34: @import "pieces/classes";
35: // icons
36: @import "pieces/font-awesome";
37: i {
38:   margin-right: 0.5em;
39: }
40: // main pieces
41: @import "pieces/header";

Backtrace:
style.scss:36
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/sumo/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: pieces/font-awesome.\A               Load path: /Users/sumo/Desktop/mindcraft/style\A         on line 36 of style.scss\A \A 31: }\A 32: // base styles\A 33: @import \"pieces/base\";\A 34: @import \"pieces/classes\";\A 35: // icons\A 36: @import \"pieces/font-awesome\";\A 37: i {\A 38:   margin-right: 0.5em;\A 39: }\A 40: // main pieces\A 41: @import \"pieces/header\";"; }
