#about {
	article img {max-width: 100%; }
}
.team {list-style-type: none; }
.profile {
  background: #444;
  color: #fff;
  padding: 1em;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1em;
  min-height: 12em;
  hgroup {
    @extend .cf;
    margin-bottom: 0.75em;
  }
  img {
    float: left;
    margin-right: 1em;
  }
  p {font-size: 0.75em; }
  h4, h5 {margin-top: 0; }
  h4 {margin-bottom: 0.1em; font-size: 0.875em;}
  h5 {font-style: italic; margin-bottom:0; }
  h6 { margin-bottom:0.25em; margin-top:0.5em;}
  @extend .cf;
  @include mq(tablet) {width: 48%;}
  @include mq(netbook) {width: 30%;}
  @include mq(desktop) {width: 24%;}
}