#about {
	// ul {max-width: 35em;
		// ul {margin-left: 2em; }
	// }
	article img {
		max-width: 100%;
		// height: 100%;
	}
  padding-top: 4em;
}
.team {
	list-style-type: none;
}
.profile {
  @extend .cf;
  @include mq(tablet) {
    width: 48%;
  }
  @include mq(netbook) {
    width: 30%;
  }
  @include mq(desktop) {
    width: 24%;  
  }
  padding-right: 1em;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1em;
  img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }
  hgroup {margin-bottom:0.625em;}
  h4, h5 {margin-top: 0; }
  h4 {margin-bottom: 0.1em; font-size: 0.875em;}
  h5 {font-style: italic; margin-bottom:0; }
  p {font-size: 0.75em; }
}