/**
 * base styles
 */
body {
  -webkit-font-smoothing: antialiased;
  font: 100% "Helvetica Neue", Verdana, Arial, sans-serif;
  line-height: 1.4;
  color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	margin: 0 0 1em;
	max-width: 35em;	
}
ul {
	padding-left: 0;
}
blockquote {
	padding: 1em;
	text-align: center;
}
h2 {
	font-size: 3em;
	line-height: 1.1;
	margin-top: 0;
}
h3 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0.5em;
}
button {padding: 1em; }
article {@extend .cf; }
dl {max-width: 35em; }
dt {font-weight: bold; }
dd {margin: 0 0 1em; }