.wrapper {
	@extend .cf;
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
	width: 90%;
	@include mq(tablet) {
		width: 80%;
	}
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.inline, .inline li {
	display: inline-block;
}
.assistive-text {
	// wordpress theme twnetyeleven styles used as base
	position:absolute !important;
	clip:rect(1px 1px 1px 1px);
	clip:rect(1px, 1px, 1px, 1px);
}
.assistive-text:active,
.assistive-text:focus {
	background:#eee;
	border-bottom:1px solid #ddd;
	color:#1982d1;
	clip:auto !important;
	font-size:12px;
	position:absolute;
	text-decoration:underline;
	top:0;
	left:7.6%;
}
.right {float: right; padding-left: 2.25em;}
.left {float: left;}

// new
.with_sidebar {
	@extend .cf;
	@include mq(desktop) {
		article {
			padding-right: 4em;
			width: 65%;
			float: left;
			// reset
			article {width: 100%; float: none;}
		}
		aside {
			width: 35%;
			float: right;
			// reset
			aside {width: 100%; float: none;}
		}
	}
}