.content {
	background-color: rgba(255,255,255,0.85);
	padding: 1em;
	@include mq(tablet) {padding: 2em; }
	// section {margin-bottom: 2em; }
}
.buffer {
	padding-top: 2em;
	@include mq(netbook) {padding-top: 6em; }
	@include mq(desktop) {padding-top: 8em; }
}

.screenshots li {margin-right: 1em; }
.faq li {text-align: center; }
.thumbnails li {margin-right: 1em; }
#get_involved {
	li {
		@include mq(desktop) {
			width: 24%;
			&:first-child {padding-left: 0;border: none;}
		}
		padding: 1em;
		margin-bottom: 2em;
		vertical-align: top;
		border-left: 1px solid #aaa;
		&:last-child {padding-right: 0;}
	}
	a {
		font-size: 0.75em;
		// text-decoration: none;
		// color: inherit;
		// border-bottom: 1px dotted;
	}
}
.for_the_kids {
	background-color: rgba(175,175,175, 0.5);
	max-width: 30em;
	padding: 1em;
	border-radius: 6px;
	border: 1px dotted #aaa;
	h3 {margin-top: 0; }
	div {
		text-align: center;
		p {text-align: left; }
	}
	div:first-child {margin-bottom: 2em; }
}
.form {
	list-style-type: none;
	p {
		margin-bottom: 0;
	}
	li {
		margin-bottom: 0.875em;
		vertical-align: top;
		&:first-child {
			margin-right: 3em;
		}
	}
	input {
		min-width: 20em;
		max-width: 35em;
		height: 2.5em;
		border-radius: 6px;
	}
	textarea {
		border-radius: 6px;		
	}
	button {
		border-radius: 6px;

	}
}