$orange: #F36E21;
#info {
	background-color: #333;
	color: #eee;
	font-size: 0.75em;
	padding: 0.5em 0;
	text-align: center;
	@include mq(netbook) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;		
	}
	em {
		padding-left: 1em;
		&:after {content: " \2192"; }
	}
	a {
		color: $orange;
		@include transition (color, 3.0s, ease-in-out);
		&:hover {color: darken($orange, 10%); }
	}
}