.nav li {
	text-transform: uppercase;
	&:last-child {
		margin-right: 0;
	}
	a {
		color: #222;
		font-size: 0.875em;
		padding: 0.6875em;
		text-decoration: none;
		letter-spacing: 0.1em;
		&:hover {background-color: #fff;}
	}
}
.here {
	background-color: #0b0;
}